<p>
I'm an Senior at the University of California, Berkeley, pursuing simultaneous degrees in Data Science (B.A.) and Chemistry (B.S.) and Data Science (B.A.). I'm broadly interested in applying artificial intelligence and machine learning for high-impact problems in molecular modeling and drug discovery.
</p>

<p>
At UC Berkeley, I am an undergraduate researcher at <a href="https://bair.berkeley.edu/" target="_blank">BAIR</a>, where I worked on advancing solutions in molecular dynamics and weather forecasting using Graph Neural Networks (GNNs). 
I also contributed to fusing advanced deep learning and 3D molecular models for transformative drug discovery at <a href="https://www.merck.com/" target="_blank">Merck & Co.</a>.
</p>

<p>
In my free time, I enjoy playing table tennis with the <a href="https://calttc.berkeley.edu/" target="_blank">Cal Table Tennis Team</a> and staying active at the gym with friends.
</p>