<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          <div class="text-center">
            <img src="img/moraine.png" style="width: 25%;">
          </div>
          
          {% endif %}

          {% if site.description == true or site.enable_contact == true %}

          <p class="text-center">
            {% if site.description == true %}
            {% include description-content.html %}
            {% endif %}
          </p>
          {% endif %}



          <div class="hero-buttons">

            <!-- {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i></button></a>
            {% endif %} -->
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i></button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i></button></a>
            {% endif %}

          </div>

          <p class="text-center">
            {% include research-content.html %}
          </p>

        </div>

      </div>

    </div>

  </div>

</div>

