<head>
<link rel="stylesheet" href="../css/style.scss">
</head>

<h2>Research</h2>

<!-- insert text and image side by side -->
<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/chemprop-long.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>Chemprop</b>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/md.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>Stability of Molecular Dynamics Simulations</b>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/diatomic.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>Energy and Forces-Distance Relationship in Homonuclear Systems with Neural Network Potentials (NNPs)</b>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/graphcast.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>Graphcast</b>
    </p>
  </div>
</div>
