<!-- <head>
<link rel="stylesheet" href="../css/style.scss">
</head>

<h2>Research</h2>

<!-- insert text and image side by side -->
<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/handloom_cropped.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>HANDLOOM: Learned Tracing of One-Dimensional Objects for Inspection and Manipulation</b>
    </p>
    <p>
        <!-- add author list -->
        Vainavi Viswanath<sup>*</sup>, Kaushik Shivakumar<sup>*</sup>, <b>Mallika Parulekar<sup>+</sup></b>, Jainil Ajmera<sup>+</sup>,  Justin Kerr, Jeffrey Ichnowski, Richard Cheng, Thomas Kollar, Ken Goldberg

    </p>
    <p>
        Conference on Robot Learning (CoRL), 2023. <i>Oral Presentation</i>.
    <p>
        <a href="https://arxiv.org/pdf/2303.08975.pdf">[Paper]</a>
        <a href="https://sites.google.com/view/cable-tracing">[Website]</a>
        <a href="https://github.com/vainaviv/handloom">[Code]</a>
    </p>
    <!-- <p>
        <a href="https://arxiv.org/abs/2003.13969">[Paper]</a>
        <a href=" -->
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/mog.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>Learning to Efficiently Plan Robust Frictional Multi-Object Grasps</b>
    </p>
    <p>
        <!-- add author list -->
        Wisdom C. Agboh<sup>*</sup>, Satvik Sharma<sup>*</sup>, Kishore Srinivas, <b>Mallika Parulekar</b>, Gaurav Datta, Tianshuang Qiu, Jeffrey Ichnowski, Eugen Solowjow, Mehmet Dogar, Ken Goldberg
    </p>
    <p>
      International Conference on Intelligent Robots and Systems (IROS), 2023.
    <p>
    <p>
        <a href="https://arxiv.org/pdf/2210.07420.pdf">[Paper]</a>
    </p>
    
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <img src="img/mindful4.png" style="width: 100%;">
    </p>
  </div>
  <div class="col-md-8">
    <p>
        <b>MINDFUL: A Method to Identify Novel and Diverse Signals with Fast, Unsupervised Learning</b>
    </p>
    <p>
        <!-- add author list -->
        <b>Mallika Parulekar</b>, Leelavati Narlikar
    </p>
    <p>
      Great Lakes Bioinformatics Conference (GLBIO), 2019.
    <p>
    <p>
        <a href="https://www.biorxiv.org/content/10.1101/805820v1">[Paper]</a>
    </p>
    <!-- <p>
        <a href="https://arxiv.org/abs/2003.13969">[Paper]</a>
        <a href=" -->
  </div>
</div>


   



   

 -->
